web3==7.13.0
fastapi==0.115.8
uvicorn[standard]
binance-connector
motor
pydantic==2.10.6
structlog
tenacity
pybreaker
python-dotenv==1.1.1
watchfiles
pandas==2.2.3
httpx==0.28.1
privy-client==0.5.0
pymongo==4.16.0
h2==4.3.0
matplotlib
mplfinance
python-telegram-bot
redis